<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap 101 Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    $(document).ready(function(){
  $(":selected").css("background-color", "cyan");
});
    </script>
  <!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/mystyle.css" rel="stylesheet">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
</head>
<body>

  <body background="pexels-photo-132197.jpeg" >
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
    aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
    <li >
    <a href="index.html">Home</a>
    </li>
    <li class="active">
    <a href="yourchoice.html">Yourchoice</a>
    </li>
    <li>
    <a href="contact.html">Contact</a>
    </li>
    <li><a href="Guestbook"> Guestbook</a></li>
    </ul>
    
    </div>
    <!--/.nav-collapse -->
    </div>
    
    </nav>
    
    <div ng-app="myApp" ng-controller="myCtrl">
            <h3>Using Double Negation</h3>
       
           <p >First Number: 
               <input type="number" id="row" ng-model="a" />
           </p>
           <p>Second Number:
               <input type="number" ng-model="b" />
           </p>
           <button id="minus" ng-click="minus()">Subtract</button>
           <!-- <p>Sum: {{ a - b }}</p>  -->
        <p>Subtraction: {{ sub }}</p>
       
           <p>First Number:
               <input type="number" ng-model="c" />
           </p>
           <p>Second Number:
               <input type="number" ng-model="d" />
           </p>
        <button id="plus" ng-click="add()">Add</button>
           <p>Addition: {{ add }}</p>
       </div>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="math.js"></script>
    <script src="Untitled.js"></script>
    </body>
    <footer align="center"></footer>
        <p>	<p>Results of the unit tests are available at <a href="A03.html">A02.html</a>.</p></p></footer>
           <p>@cherukuru chaithanya</p> 
            Email id=cherukuruchaithanya4446@gmail.com
        
        </footer>
    
    </html>